#loginContainer{
    background-color: rgb(233, 231, 231);
    width: 80%;
    margin-left: 10%;
    margin-top: 30%;
    font-size: 1em;
    border-radius: 2vw;
    padding: 5%;
}
#loginButton{
float: right;
--background:  #e06666ff;
margin-right: 10%;
margin-top: 5%;
}

#loginText{
    font-size: 2em;
    font-family: Epilogue;
    font-weight: bold;

}


#titelContainer{
    margin-top: 20%;
    margin-left: 10%;
    font-size: 2em;
    font-family: Nunito;

}

#titelh1 {
    color: #e06666ff;
    font-size: 1.5em;

}


#titelh2 {
    color: #9cbdc2;
    font-size: 0.6em;
    margin-top: -5%;

}