<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hilfe</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text>
    <h1>Hilfe-Seite</h1>
    <br>
    <p>Hallo hier finden Sie alles Informationen über die App</p>
    <br>
    <div>
      <h3>Beschreibung:</h3>
      Die App ist dafür gedacht ToDo's zu tracken und somit eine bessere Übersicht zu erhalten,
      welche Aufgaben man noch zu erledigen hat.<br>
      Login 
      <h3>Login:</h3>
      Auf der Loginseite muss beim ersten Starten der App ein Passwort festgelegt werden.
      Mit diesem Passwort kann man sich dann einloggen.<br>
      <h3>Todo-Board</h3>
      Auf dem Todo-Board werden die aktuellen Todos angezeigt. Außerdem können Todos erstellt und gelöscht werden<br>
      <h3>Einstellungen</h3>
      Aus dieser Seite finden Sie diverse Einstellungen der App.<br>
    </div>
  </ion-text>
</ion-content>
